@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
    --heading-font: "Source Sans Pro";
    --paragraph-font: "Roboto";
}

#content 
{
    max-width: 1600px;
    margin: 0 auto;
}

nav a
{
    text-align: center;
    color: #FFF9FB;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 1.5em;
}
nav {
    display: flex;
    color: #FFF9FB;
    justify-content: space-around; 
}


.button-box
{
    font-size: 1.2em;
    text-align: center;
}

main
{
    text-align: center;
}

#background {
    height: 725px;
        grid-column: 1/11;
        grid-row: 4/9;
}

body 
{
    background-color: #929091;
    font-family: var(--paragraph-font);
}

header
{
    background-color: #4B88A2;
    font-family: var(--heading-font);
    padding: 10px 10px;
}

nav a:hover
{   
    color:#C9C5C6;
    
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
    max-width: 50px;
    max-height: 50px;
}

.badges-row1 img
{
    
    max-width: 60px;
    max-height: 60px;
    text-decoration: none;
}

.badges-row2 img
{
    max-width: 60px;
    max-height: 60px;
}

.badges-row3 img
{
    max-width: 60px;
    max-height: 60px;
}

.learnCert img
{
    max-width: 300px;
    max-height: 225px;
}

.learnCert img:hover
{
    transform: scale(1.75);
}

.downloads img
{
    max-width: 90px;
    max-height: 90px;
}

.gradPic
{
    z-index: 2;
    grid-row: 13/14;
    grid-column:4/7;
    margin-block-start: 150px;
    margin-inline-start: 130px;
    margin-inline-end: 75px;
    background-color: #C9C5C6;
    padding: 10px;
}

.roboticsPic
{
    z-index: 2;
    grid-row: 13/14;
    grid-column: 8/11;
    margin-block-start: 275px;
    margin-inline-start: 150px;
}

.roboticsPic img
{
    width: 300px;
    height: 175px;
    background-color: #C9C5C6;
    padding: 10px;
}

.gradPic img
{
    width: 100%;
    height: 100%;
}

.logo
{
    width: 110px;
    padding: 10px;
}
.home-grid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}



h2
{
    font-family: var(--heading-font);
}
footer 
{
   background-color: #4B88A2;
   color:#FFF9FB;
  grid-row: 16/18;
  grid-column: 1/11;
  padding: 25px 50px;
  margin-top: 175px; 
  display: flex;
  justify-content: space-around;
  align-items: center;    
}

footer a 
{
    font-size: 1.2em;
    text-decoration: none;
    color:#FFF9FB;
}


footer p {
    font-size: 1.2em;
}

footer a:hover
{
    color:#C9C5C6;
}

.abt_me
{
    grid-row: 1/3;
    grid-column: 5/11;
    background-color: #4B88A2;
    color: #FFF9FB;
    padding: 20px;
    font-size: 1.2em;
}

.jobExp
{
    font-size: 1.2em;;
    grid-row: 4/12;
    grid-column: 5/11;
    background-color: #4B88A2;
    color: #FFF9FB;
    padding: 20px;
}

.Education
{
    font-size: 1.2em;;
    margin-top: 75px;
    grid-row: 12/16;
    grid-column: 5/11;
    background-color: #4B88A2;
    color: #FFF9FB;
    padding: 20px;
}

.profilePic
{
    grid-column: 1/5;
    grid-row: 1/6;
    background-color:#C9C5C6;
    padding: 10px;
    margin-right: 75px;
}

.profilePic img
{
    width: 100%;
    height: 100%;
}

#profile
{
    width: 100%;
    height: 100%;
}

.outsideWork
{
    grid-column: 1/5;
    grid-row: 6/16;
    font-size: 1.2em;
    background-color: #4B88A2;
    color: #FFF9FB;
    padding: 10px;
    margin-right: 75px;
    margin-top: 25px;
}

.topic_Img
{
    grid-row: 1/3;
    grid-column: 1/4;
    padding: 20px;
    background-color: #C9C5C6;
}

.topic_Img img
{
    height: 100%;
    width: 100%;
}

.button
{
    margin-top: 100px;
    grid-row: 3/5;
    grid-column: 5/11;
    display: flex;
    font-size: 1.5em;
    justify-content: space-around;
    align-items: center;  
    background-color: #4B88A2;
    color: #FFF9FB;  
}

.previous:active, .next:active {
    background-color: #929091;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.previous, .next
{
    padding: 15px;
    width: 100px;
    text-align: center;
    font-size: .65em;
    color: #FFF9FB;
    background-color: #C9C5C6;
    text-shadow: -1px -1px 0 #929091, 1px -1px 0 #929091, -1px 1px 0 #929091, 1px 1px 0 #929091;
    border-radius: 40%;
    font-family: var( --paragraph-font);
}

.topic_desc
{
    grid-row: 1/3;
    grid-column: 5/11;
    background-color: #4B88A2;
    text-align:center;
    color: #FFF9FB;
    padding: 75px;
    font-size: 1.2em;
}

/* Responsive layout - when the screen is less than 1400px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1400px) {
    .home-grid{
        display: block;
        height: auto;
    }
    .outsideWork
    {
        width:95%;
    }
    .profilePic
    {
        margin-top: 25px;
        width: 95%;
    }
    
    .gradPic img
    {
        display: none;
    }
    .gradPic
    {
        display: none;
    }
    .roboticsPic img
    {
        display: none;
    }
    .learnCert img
    {
        width: 95%;
    }

    footer .social img {
        width: 25px;
    }
    footer p
    {
        font-size: 95%;
    }

    nav a
    {
        font-size: 95%;
    }
}